<?xml version="1.0"?>

<configuration>
	<appSettings>
		<add key="FreeApiBaseURL" value="http://api.worldweatheronline.com/free/v1/"/>
    <add key="PremiumApiBaseURL" value="http://api.worldweatheronline.com/premium/v1/"/>

    <!--http://developer.worldweatheronline.com/member/register-->
    
    <add key="FreeAPIKey" value="cf4fa35dsf234441bb8be161042172404"></add>
    <add key="PremiumAPIKey" value="306e93379cf3sfd1907175756172404"></add>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
